{{#if newQuestionForm}}
  <form class="form-horizontal">
    <label for="query">Question:</label>
    {{input class="form-control" value=query id="query"}}

    <label for="user">User:</label>
    {{input class="form-control" value=user id="user"}}

    <label for="details">Details (optional):</label>
    {{textarea class="form-control" value=details id="details"}}

    <button class="btn btn-custom" {{action 'saveQuestion'}}>Submit</button>
    <button class="btn btn-danger" {{action 'hideQuestionForm'}}>Cancel</button>
  </form>
{{else}}
  <div class="button-center">
    <button class="btn btn-primary" {{action 'showQuestionForm'}}>Ask a Question</button>
  </div>
{{/if}}
