{{#if editQuestionForm}}
  <form class="form-horizontal">
    <label for="query">Question:</label>
    {{input class="form-control" value=query id="query" placeholder=question.query}}

    <label for="question">User:</label>
    {{input class="form-control" value=user id="user" placeholder=question.user}}

    {{input type="hidden" class="form-control" value=date id="date" placeholder=question.date}}

    <label for="details">Details (optional):</label>
    {{textarea class="form-control" value=details id="details" placeholder=question.details}}

    <button class="btn btn-custom" {{action 'updateQuestion' question}}>Submit</button>
    <button class="btn btn-danger" {{action 'hideEditForm'}}>Cancel</button>
  </form>
{{else}}
  <button class="btn btn-warning" {{action 'showEditForm'}}>Edit</button>
  <button class="btn btn-danger" {{action 'destroyQuestion' question}}>Delete</button>
{{/if}}
